* {
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 33, 54);
    font-family: 'Roboto', sans-serif;
    color: seashell;
}

#intro, h2 {
    text-align: center;
}

h3 {
    font-size: 30px;
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    
}

h4 {
    text-align: left;
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;
    color: rgb(238, 108, 231);
}

p {
    text-align: center;
    margin: 0 50px;
}

ul {
    margin-left: 100px;
}

a {
    color: palevioletred;
}

a:hover {
    color: rgb(238, 108, 231);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

}

#messageSpace {
    background-color: rgb(5, 59, 95);
    padding: 15px 10px;
    max-width: 500px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 5px;
}

input#name, input#email, textarea#message, button#submit{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea#message {
    height: 70px;
}

label {
    display: flex;
    align-items: flex-start;
}

button#submit {
    width: 100px;
    border-radius: 25px;
    background-color:tan;
    font-weight: bold;
}

button#submit:hover {
    background-color:tomato;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out;
    
}

footer p {
    margin: 40px;
    color: rgb(238, 108, 231);
}

@media screen and (min-width: 1200px) {

    section {
    margin: 0 200px ;
    }
    
}