* {
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 33, 54);
    font-family: 'Roboto', sans-serif;
    color: seashell;
}

<<<<<<< HEAD
=======
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;

}

.nav-ul li a{
    display: inline-block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:focus {
    outline: none;
}

>>>>>>> 8b136a8 (created nav and updated experiance and leave a message using flexbox)
#intro, h2 {
    text-align: center;
}

h3 {
    font-size: 30px;
<<<<<<< HEAD
    margin-top: 100px;
=======
    margin-top: 30px;
    margin-bottom: 10px;
>>>>>>> 8b136a8 (created nav and updated experiance and leave a message using flexbox)
}

h1 {
    font-size: 40px;
<<<<<<< HEAD
=======
    margin: 0 auto;
>>>>>>> 8b136a8 (created nav and updated experiance and leave a message using flexbox)
    
}

h4 {
    text-align: left;
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;
    color: rgb(238, 108, 231);
}

p {
    text-align: center;
    margin: 0 50px;
}

ul {
    margin-left: 100px;
}

a {
    color: palevioletred;
}

a:hover {
    color: rgb(238, 108, 231);
    cursor: pointer;
}

<<<<<<< HEAD
=======
#experiance ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

>>>>>>> 8b136a8 (created nav and updated experiance and leave a message using flexbox)
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

}

#messageSpace {
    background-color: rgb(5, 59, 95);
    padding: 15px 10px;
    max-width: 500px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 5px;
}

input#name, input#email, textarea#message, button#submit{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea#message {
    height: 70px;
}

label {
    display: flex;
    align-items: flex-start;
}

button#submit {
    width: 100px;
    border-radius: 25px;
    background-color:tan;
    font-weight: bold;
}

button#submit:hover {
    background-color:tomato;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out;
    
}

footer p {
    margin: 40px;
    color: rgb(238, 108, 231);
}

@media screen and (min-width: 1200px) {

    section {
    margin: 0 200px ;
    }
    
<<<<<<< HEAD
=======
}

@media screen and (max-width: 7676px) {
    .hamburger {
        display: block;
    }

    .nav-ul.show {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
>>>>>>> 8b136a8 (created nav and updated experiance and leave a message using flexbox)
}