.typeWrapper {
  display: grid;
  place-items: center;
}

.typewriter {
  text-align: center; 
  font-family: 'Source Code Pro', monospace; 
  /* font-family: 'Anonymous Pro', monospace;   */
  font-size: 12px; 
  color:gray;
    
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 40%;
 }

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

h1 {
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Anonymous Pro', monospace;   */
  font-family: 'Source Code Pro', monospace; 
  font-size: 25px;
  text-align: center;
  margin-bottom: -10px;  
  /* remove spacing bottom of H1 */ 
}

body {
  background-color: white;
  color: black;
  font-size: 14px;
} 
